{% extends 'app/base.html' %}
{% load static %}
{% block quotes%} 
    <!-- Main Content -->
    <main>
        <section class="about-us">
            <div class="quotes">
                <h1>About Us</h1>
                <div class="section-content">
                    <div class="aboutus">
                        <h2>Our Story</h2>
                        <p>Welcome to <strong> Gym Shark</strong>, where fitness meets community. Founded in 2015, we are dedicated to empowering individuals of all fitness levels to reach their health and wellness goals. This passion project has evolved into a thriving fitness destination, beloved by our members and staff alike.</p>
                        <p>At <strong> Gym Shark</strong>, we believe that fitness is more than just physical exercise—it's a lifestyle. Our mission is to provide a supportive and inclusive environment where everyone feels welcomed, motivated, and inspired to lead healthier lives. Whether you're a seasoned athlete or just starting your fitness journey, we're here to help you succeed.</p>
                        <p>From our state-of-the-art facilities and expert trainers to our diverse range of classes and personalized training programs, we offer everything you need to achieve your fitness goals. Join us today and become part of our growing community committed to living happier, healthier lives together.</p>
                    </div>
                    <br>
                        <div class="aboutus">
                            <h2>Our Mission & Values</h2>
                            <p>At <strong> Gym Shark</strong>, our mission is to inspire and empower individuals to lead healthier, happier lives through fitness. We believe that everyone deserves access to high-quality fitness facilities, expert guidance, and a supportive community to help them reach their wellness goals.</p>
                            <p>We are committed to fostering an environment built on integrity, inclusivity, and dedication. Our values guide everything we do, from delivering exceptional service to our members to fostering a culture of respect and accountability among our team.</p>
                            <p>With a focus on innovation and continuous improvement, we strive to be at the forefront of the fitness industry, offering cutting-edge programs, state-of-the-art facilities, and personalized solutions to meet the evolving needs of our members.</p>
                        </div>
                        
                        <br>
                        <div class="aboutus">
                            <h2>Our Facilities & Amenities</h2>
                            <p>At <strong> Gym Shark</strong>, we are proud to offer top-notch facilities and amenities designed to enhance your fitness experience. Our spacious gym floor features a wide range of state-of-the-art equipment, including cardio machines, strength training equipment, and free weights.</p>
                            </div>
                        <br>
                            <div class="aboutus">
                                <h2>Client Success Stories</h2>
                                <p>At <strong> Gym Shark</strong>, we take pride in the achievements of our members and celebrate their success stories. From weight loss transformations to personal milestones, our members inspire us every day with their dedication and determination.</p>
                                <p>Meet Jaskaran, who joined our gym a year ago with the goal of improving their overall fitness and losing weight. Through consistent workouts and personalized training sessions, Jaskaran has not only achieved their weight loss goal but also gained strength, confidence, and a newfound love for fitness.</p>
                                <p>Another inspiring story is Gaurav, who overcame injury setbacks with the help of our expert trainers and rehabilitation programs. Today, Gaurav is back to their active lifestyle and stronger than ever, thanks to the support and guidance they received at <strong> Gym Shark</strong>.</p>
                                <p>These are just a few examples of the incredible transformations happening at Gym Shark every day. We're proud to be a part of our members' fitness journeys and look forward to helping more individuals achieve their goals and lead healthier, happier lives.</p>
                            </div>
                            
                    
                </div>
            </div>
        </section>
    </main>


    {% endblock quotes%}