{% extends 'app/base.html'%}
{%load static%}
{% block quotes%} 
    
    <section class="exercises">
          <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Rectus abdimnus</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Reverse Crunch</li>
                        <li>Weighted Crunches</li>
                        <li>Cable crunch</li>
                        <li>Jack knife crunch</li>
                        <li> Cable crunch</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Obliques</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>High To Low Cable Woodchoppers </li>
                        <li>Bicycle crunch</li>
                        <li>Russian twist</li>
                        <li>Oblique crunch</li>
                        <li>Cross-body mountain climber</li>
                        <li>Elbow to knee</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Serratus Anterior</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Serratus Jabs </li>
                        <li>Serratus crunch </li>
                        <li>Bear crawl</li>
                        <li> Scapular push up </li>
                    </ul>
                </div>
            </div>
        </div>
         
          
        </section>


{% endblock quotes%}