{% extends 'app/base.html'%}
{%load static%}
{% block quotes%} 
    
    <section class="exercises">
          <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Upper Back</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Machine Rows</li>
                        <li>T-Bar Rows</li>
                        <li>Seated Cable Rows</li>
                        <li>Bent Over Rows</li>
                        <li>Incline Bench Two Arm Dumbbell Row</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Lats</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Lat Pull Down</li>
                        <li>Wide Grip Pull Up</li>
                        <li>Straight Arm Lat Pull Down</li>
                        <li>Rope Straight Arm Pull Down</li>
                        <li>DUMBBELL TRIPOD ROW</li>
                        <li>ONE-ARM HIGH CABLE ROW</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Lower Back</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>DEADLIFT </li>
                        <li>THE CAT STRETCH </li>
                        <li>GOOD MORNINGS</li>
                        <li> BACK EXTENSION </li>
                    </ul>
                </div>
            </div>
        </div>
         
          
        </section>


{% endblock quotes%}