<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Shark</title>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    
</head>
<body>

<nav class="navbar">
    <div class="logo">
        <img src="{% static 'app/images/logo.png' %}" alt="logo" >
    </div>
    <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about-us' %}">About Us</a></li>
        <li><a href="{% url 'signup' %}">Register</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
    </ul>
</nav>
{% block quotes%}  {% endblock quotes%}
{% block banner%}  {% endblock banner%}
{% block cards%}  {% endblock cards%}
{% block numbers%}  {%endblock numbers%}
</body>
</html>
