{% extends 'app/base.html'%}
{%load static%}
{% block quotes%} 
    
    <section class="exercises">
          <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Long Head</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li> INCLINE DUMBBELL CURLS</li>
                        <li>DUMBBELL HAMMER CURLS</li>
                        <li>CLOSE-GRIP EZ BAR CURLS</li>
                        <li>CLOSE GRIP PREACHER CURLS</li>
                        <li>DRAG CURLS </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Short Head</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Preacher curl</li>
                        <li> Concentration curls</li>
                        <li>Spider curls</li>
                        <li>Barbell curls with wide grip</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title"> Brachialis</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Reverse curls</li>
                        <li>Hammer curls</li>
                        <li>Reverse grip - EZ bar curls</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title"> Forearms</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Palms-up wrist curl</li>
                        <li>Palms-down wrist curl</li>
                        <li>Farmer’s walk</li>
                        <li>Forearm squeeze</li>
                        <li>Fingertip pushups</li>
                        <li>Crab walk</li>
                        <li>Dead hangs</li>
                    </ul>
                </div>
            </div>
        </div>
         
          
        </section>


{% endblock quotes%}