{% extends 'app/base.html'%}
{%load static%}
{% block quotes%} 
    
    <section class="exercises">
          <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Upper chest</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Incline Dumbbell Bench Press</li>
                        <li>Incline Hex Press</li>
                        <li>Low Cable Crossover</li>
                        <li>Dumbbell Chest Flys</li>
                        <li>Incline Push-Up </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Middle chest</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Bench Press (Barbell)</li>
                        <li>Bench Press (Dumbbell)</li>
                        <li>Flys (Dumbbell)</li>
                        <li>Pec Deck Flys (Machine)</li>
                        <li>Push-Up </li>
                        <li>Machine Presses</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Lower Chest</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Decline Dumbbell Bench Press</li>
                        <li>Chest Dip</li>
                        <li>High Cable Crossover</li>
                        <li>Decline push-up</li>
                    </ul>
                </div>
            </div>
        </div>
         
          
        </section>


{% endblock quotes%}