{% extends 'app/base.html'%}
{% load static %}
{% block quotes%}

<div class="sidebar">
  <a  href="{% url 'profile' %}">Profile</a>
  <a class="active" href="{% url 'complaint' %}">Complaints</a>
  <a href="{% url 'membership' %}">Membership details</a>
  <a href="{% url 'payment' %}">Buy membership</a>
</div>

<div class="main-content">
    <h2>Your Complaints</h2>
    <ul>
      {% for complaint in complaint %}
        <li>
          <p>{{ complaint.title }}</p>
          <p>{{ complaint.description }}</p>
          {% if complaint.image %}
            <img src="{{ complaint.image.url }}" alt="Complaint Image">
          {% endif %}
          <p>Status: {{ complaint.get_status_display }}</p>
        </li>
      {% endfor %}
    </ul>
</div>


{% endblock quotes %}