{% extends 'app/base.html'%}
{%load static%}
{% block quotes%} 
    
    <section class="exercises">
          <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Quads</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Front Squats</li>
                        <li>Heels Elevated Goblet Squats</li>
                        <li>Leg Extensions</li>
                        <li>Split Squats</li>
                        <li>Sissy Squat </li>
                        <li>Lunges </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Hamstrings</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Sumo squat</li>
                        <li>Seated Hamstring curls</li>
                        <li>Romanian Deadlift</li>
                        <li>Bulgarian Split Squats</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Glutes</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Hip Thrust</li>
                        <li>Kettlebell Swing</li>
                        <li>Goblet Squat</li>
                        <li>Cossack Squat</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Calves</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Seated Calf Raise(toes in)</li>
                        <li>Seated Calf Raise(toes out)</li>
                        <li>Seated Calf Raise(toes neutral)</li>
                        <li> Single-Leg Calf Raise</li>
                        <li>Tiptoe Walk</li>
                    </ul>
                </div>
            </div>
        </div>
         
          
        </section>


{% endblock quotes%}