{% extends 'app/base.html'%}
{% load static %}
{% block quotes%}

<div class="sidebar">
  <a  href="{% url 'profile' %}">Profile</a>
  <a href="{% url 'complaint' %}">Complaints</a>
  <a class="active" href="% url 'membership' %">Membership details</a>
  <a href="{% url 'payment' %}">Buy membership</a>
</div>

<div class="main-content">
    <h1>Welcome {{ request.user }}</h1>
    {% if membership %}
        <p>Membership Status: {{ membership.status }}</p>
        <p>Start Date: {{ membership.start_date }}</p>
        <p>End Date: {{ membership.end_date }}</p>
    {% else %}
        <p>You do not have a membership yet.</p>
    {% endif %}
</div>


{% endblock quotes %}