{% extends 'app/base.html'%}
{%load static%}
{% block quotes%} 
    
    <section class="exercises">
          <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Medial Delts</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>CABLE LATERAL RAISE</li>
                        <li>“W” RAISES</li>
                        <li>Push Side Raise</li>
                        <li>CABLE LATERAL RAISE</li>
                        <li> Lean-away dumbbell lateral raise</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Front delts</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Shoulder press</li>
                        <li>Dumbbell front raise</li>
                        <li>Arnold press</li>
                        <li>Pike Push-Up</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title"> Rear Delts</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Face pulls</li>
                        <li> Dumbbell reverse fly</li>
                        <li>Bent-over row</li>
                        <li>Reverse machine fly</li>
                    </ul>
                </div>
            </div>
        </div>
         
          
        </section>


{% endblock quotes%}