{% extends 'app/base.html'%}
{%load static%}
{% block quotes%} 
    
    <section class="exercises">
          <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Long Head</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>Overhead Dumbbell Extension</li>
                        <li>EZ Bar Overhead Tricep Extension</li>
                        <li>Overhead Rope Tricep Extension</li>
                        <li>Tricep kickbacks</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Lateral Head</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li>SINGLE ARM PUSHDOWNS</li>
                        <li> TRICEP PUSHDOWNS</li>
                        <li>FACING AWAY PUSHDOWN</li>
                        <li>CONCENTRATION CABLE EXTENSION</li>
                        <li>CLOSE GRIP BENCH PRESS</li>
                        <li>DIAMOND PUSH-UPS</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title"> Medial Head</p>
                </div>
                <div class="flip-card-back">
                    <ul >
                        <li> REVERSE GRIP CABLE PUSHDOWN</li>
                        <li>BARBELL REVERSE GRIP PRESS</li>
                        <li>REVERSE GRIP FLOOR PRESS</li>
                        <li>PALM OUT BENCH DIP</li>
                    </ul>
                </div>
            </div>
        </div>
         
          
        </section>


{% endblock quotes%}